.c-inner {
	padding: 16px;
	max-width: 960px;
	margin: auto;
}

.c-result {
	display: flex;
	&__title {
		margin-right: 8px;
	}
	&__body {

	}
}

hr {
	margin: 60px 0;
}

#app {
	p {
		padding: 8px;
	}
	ul {
		margin-left: 16px;
		li {
			margin-left: 16px;
			line-height: 1.5;
			list-style-type: disc;
		}
	}
}
