@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Pacifico&display=swap');

html {
	scroll-behavior: smooth;
}

body {
	min-width: 320px;
	width: 100%;
	overflow-x: hidden;
	font-family: "Noto Sans JP", sans-serif;
	background-color: #fafcd0;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}

a,
button {
	&:hover {
		cursor: pointer;
	}
}

h1 {
	font-size: 32px;
	font-weight: bold;
}
